/* Liubomyr Bishko */

.in-store-services {
  padding: 90px 0px;
  background-color: var(--light-color);
  @media (min-width: 768px) {
    padding: 105px 0px;
  }
  @media (min-width: 991px) {
    padding: 120px 0px;
  }

  .container {
    margin: 0 auto;
    padding: 0px 24px;
    @media (min-width: 768px) {
      padding: 0px 32px;
    }
    .in-store-services__header {
      text-align: center;

      .in-store-services__label {
        font-weight: bold;
        font-size: 12.5px;
        color: var(--accent-color);
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .in-store-services__title {
        line-height: 1.2;
        margin-top: 20px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 40px;
        color: var(--main-bg-color);
        text-transform: uppercase;
        .in-store-services__title-accent {
          color: var(--secondary-bg-color);
        }

        @media (min-width: 768px) {
          font-size: 52px;
        }
        @media (min-width: 991px) {
          font-size: 64px;
        }
      }

      .in-store-services__description {
        font-size: 19px;
        color: var(--subtitle-color);
        margin-top: 25px;
        font-weight: 600;
        line-height: 1.4;
      }
    }
    .in-store-services__carousel {
      margin-top: 50px;

      .in-store-services__cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .in-store-services__card {
          padding: 0 15px;
          border-radius: 5px;
          background-color: var(--light-color);

          .in-store-services__img-box {
            width: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .in-store-services__card-title {
            font-size: 22px;
            font-weight: bold;
            margin-top: 25px;

            @media (min-width: 768px) {
              font-size: 23px;
            }
            @media (min-width: 991px) {
              font-size: 24px;
            }
          }

          .in-store-services__card-text {
            font-size: 17px;
            color: var(--text-color);
            line-height: 1.4;
          }
        }
      }
      .in-store-services__button {
        display: flex;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #474747;
        border: none;
        cursor: pointer;
        position: relative;
        padding: 0 6px;

        .arrow-svg_1j4 {
          fill: var(--light-color);

          @media (min-width: 1200px) {
            fill: var(--title-color);
          }
        }
        @media (min-width: 768px) {
          width: 32px;
          height: 32px;
        }
        @media (min-width: 1200px) {
          background-color: transparent;
          height: 30px;
          width: 30px;
          padding: 0 0;
        }
      }
    }
  }
}
