/* Liubomyr Bishko */
.our-story {
  padding: 90px 0px;
  background-color: var(--light-color);
  @media (min-width: 768px) {
    padding: 105px 0px;
  }
  @media (min-width: 991px) {
    padding: 120px 0px;
  }

  .container {
    margin: 0 auto;
    padding: 0px 24px;
    @media (min-width: 768px) {
      padding: 0px 32px;
    }
    .our-story__header {
      text-align: center;
      margin-bottom: 30px;
      @media (min-width: 768px) {
        margin-bottom: 50px;
      }

      .our-story__label {
        font-weight: bold;
        font-size: 12px;
        color: var(--accent-color);
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .our-story__title {
        line-height: 1.2;
        margin-top: 20px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 40px;
        color: var(--main-bg-color);
        text-transform: uppercase;
        .our-story__highlight {
          color: var(--secondary-bg-color);
        }

        @media (min-width: 768px) {
          font-size: 52px;
        }
        @media (min-width: 991px) {
          font-size: 64px;
        }
      }

      .our-story__subtitle {
        font-size: 19px;
        color: var(--subtitle-color);
        margin-top: 25px;
        font-weight: 600;
      }

      .our-story__divider {
        svg {
          width: 100%;
        }
        path {
          fill: none;
          stroke: rgba(0, 0, 0, 0.07);
          stroke-width: 1px;
        }
      }
    }

    .our-story__timeline {
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @media (min-width: 991px) {
        justify-content: space-around;
      }
      .our-story__event {
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 5px;
        background-color: var(--light-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        @media (min-width: 768px) {
          width: calc(50% - 15px);
          margin-bottom: 30px;
        }
        @media (min-width: 991px) {
          width: calc(25% - 20px);
          margin-bottom: 40px;
        }

        .our-story__year {
          font-weight: 400;
          font-family: "Bebas Neue", sans-serif;
          font-size: 40px;
          color: var(--accent-color);
          @media (min-width: 768px) {
            font-size: 52px;
          }
          @media (min-width: 991px) {
            font-size: 64px;
          }
        }

        .our-story__event-title {
          font-size: 22px;
          font-weight: bold;
          margin-top: 25px;
          @media (min-width: 768px) {
            font-size: 23px;
          }
          @media (min-width: 991px) {
            font-size: 24px;
          }
        }

        .our-story__small-divider {
          svg {
            width: 15%;
          }
          path {
            fill: none;
            stroke: #1c4c97;
            stroke-width: 4px;
          }
        }

        .our-story__event-description {
          font-size: 17px;
          color: var(--text-color);
          line-height: 1.4;
        }
      }
    }
    .our-story__controls {
      display: flex;
      justify-content: space-between;

      @media (min-width: 768px) {
        justify-content: center;
      }

      .our-story__button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #474747;
        border: none;
        cursor: pointer;
        position: relative;
        @media (min-width: 768px) {
          margin: 0 10px;
        }
      }
    }
  }
}

.our-story__button--prev::before,
.our-story__button--next::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-top: 2px solid #dadada;
  border-right: 2px solid #dadada;
}

.our-story__button--prev::before {
  left: 40%;
  transform: translateY(-50%) rotate(-135deg);
}

.our-story__button--next::before {
  right: 40%;
  transform: translateY(-50%) rotate(45deg);
}
