.vacancies {
  padding: 90px 0px;
  background-color: var(--light-bg-color);

  @media (min-width: 768px) {
    padding: 105px 0px;
  }
  @media (min-width: 991px) {
    padding: 120px 0px;
  }
  .container {
    margin: 0 auto;
    padding: 0px 24px;

    @media (min-width: 768px) {
      padding: 0px 32px;
    }
    .vacancies__header {
      text-align: center;

      .vacancies__label {
        font-weight: bold;
        font-size: 12.5px;
        color: var(--accent-color);
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .vacancies__title {
        line-height: 1.2;
        margin-top: 20px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 40px;
        color: var(--main-bg-color);
        text-transform: uppercase;

        .vacancies__highlight {
          color: var(--secondary-bg-color);
        }
        @media (min-width: 768px) {
          font-size: 52px;
        }
        @media (min-width: 991px) {
          font-size: 64px;
        }
      }
      .vacancies__subtitle {
        font-size: 19px;
        color: var(--subtitle-color);
        margin-top: 25px;
        font-weight: 600;
        line-height: 1.4;

        .vacancies__link {
          text-decoration: underline;
        }
      }
    }
    .vacancies__list {
      color: var(--text-color);
      margin-top: 45px;

      @media (min-width: 768px) {
      }

      .vacancies__position {
        margin-top: 50px;
        background-color: var(--light-color);
        padding: 31px;

        @media (min-width: 768px) {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 34px;
        }

        .vacancies__first-part {
          @media (min-width: 768px) {
            padding-right: 15px;
          }

          .vacancies__position-title {
            font-size: 22px;
            color: var(--title-color);
            line-height: 1.3;

            @media (min-width: 768px) {
              font-size: 23px;
            }
            @media (min-width: 991px) {
              font-size: 24px;
            }
          }
          .vacancies__position-subtitle {
            margin-top: 20px;
            font-size: 14px;
            font-style: italic;
          }
          .vacancies__position-salary-info-box {
            margin-top: 20px;
            padding: 7.5px 0px;
            display: flex;
            align-items: center;

            @media (min-width: 991px) {
              align-items: center;
            }

            .vacancies__position-salary_icon-box {
              margin: 7.5px;
              img {
                width: 50px;
                height: 50px;

                @media (min-width: 768px) {
                  width: 70px;
                  height: 70px;
                }
              }
            }
            .vacancies__position-salary-box {
              font-size: 17px;
              margin: 7.5px;

              .vacancies__position-salary {
                line-height: 1.3;
                font-weight: 600;

                .vacancies__salary-amount {
                  color: var(--secondary-bg-color);
                  font-size: 18px;
                  font-weight: bold;
                  @media (min-width: 768px) {
                    font-size: 19px;
                  }
                  @media (min-width: 991px) {
                    font-size: 21px;
                  }
                }
              }
              .vacancies__position-salary-address-box {
                .vacancies__position-salary-address {
                  font-size: 14px;
                }
              }
            }
          }
        }
        .vacancies__second-part {
          margin-top: 50px;

          @media (min-width: 768px) {
            padding: 0px 15px;
            margin-top: 0px;
            max-width: calc(100% * 5.1 / 12);
          }
          .vacancies__description {
            line-height: 1.4;
            font-size: 17px;
          }
          .vacancies__responsibilities {
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.1;

            @media (min-width: 991px) {
              font-size: 15px;
            }

            li::before {
              content: "•";
              font-size: 17px;
              color: var(--accent-color);
              margin-right: 5px;
            }
          }
        }
        .vacancies__third-part {
          margin-top: 50px;

          @media (min-width: 768px) {
            padding-left: 15px;
            margin-top: 0px;
          }

          .vacancies__benefits {
            .vacancies__benefit-first-box {
              display: flex;
              font-style: italic;

              .vacancies__benefit-icon-box {
                img {
                  width: 20px;
                  height: 24px;
                }
              }
              span {
                margin-left: 10px;
                font-size: 17px;
                line-height: 1.4;
              }
            }
            .vacancies__benefit-box {
              display: flex;
              font-style: italic;
              margin-top: 20px;

              .vacancies__benefit-icon-box {
                img {
                  width: 20px;
                  height: 24px;
                }
              }
              span {
                margin-left: 10px;
                font-size: 17px;
                line-height: 1.4;
              }
            }
          }
        }
      }
    }
    .vacancies__values {
      margin-top: 50px;

      @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        margin-left: -15px;
        margin-right: -15px;
      }

      .vacancies__value {
        margin-top: 50px;

        @media (min-width: 768px) {
          margin-top: 0px;
          padding: 0px 15px;
          line-height: 1.4;
        }

        .vacancies__value-title {
          font-size: 12.5px;
          color: var(--secondary-bg-color);
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        .vacancies__value-description {
          line-height: 1.4;
          margin-top: 20px;
          font-size: 17px;
          color: var(--text-color);
        }
      }
    }
  }
}
