/* Liubomyr Bishko */
.our-story {
  padding: 90px 0px;
  background-color: var(--light-color);
  @media (min-width: 768px) {
    padding: 105px 0px;
  }
  @media (min-width: 991px) {
    padding: 120px 0px;
  }

  .container {
    margin: 0 auto;
    padding: 0px 24px;
    @media (min-width: 768px) {
      padding: 0px 32px;
    }
    .our-story__header {
      text-align: center;
      margin-bottom: 30px;
      @media (min-width: 768px) {
        margin-bottom: 50px;
      }

      .our-story__label {
        font-weight: bold;
        font-size: 12.5px;
        color: var(--accent-color);
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .our-story__title {
        line-height: 1.2;
        margin-top: 20px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 40px;
        color: var(--main-bg-color);
        text-transform: uppercase;
        .our-story__highlight {
          color: var(--secondary-bg-color);
        }

        @media (min-width: 768px) {
          font-size: 52px;
        }
        @media (min-width: 991px) {
          font-size: 64px;
        }
      }

      .our-story__subtitle {
        font-size: 19px;
        color: var(--subtitle-color);
        margin-top: 25px;
        font-weight: 600;
      }

      .our-story__divider {
        svg {
          width: 100%;
        }
        path {
          fill: none;
          stroke: rgba(0, 0, 0, 0.07);
          stroke-width: 1px;
        }
      }
    }
    .our-story__timeline-container {
      .our-story__timeline {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .our-story__event {
          padding: 20px;
          border-radius: 5px;
          background-color: var(--light-color);

          .our-story__year {
            font-weight: 400;
            font-family: "Bebas Neue", sans-serif;
            font-size: 40px;
            color: var(--accent-color);

            @media (min-width: 768px) {
              font-size: 52px;
            }
            @media (min-width: 991px) {
              font-size: 64px;
            }
          }
          .our-story__event-title {
            font-size: 22px;
            font-weight: bold;
            margin-top: 25px;

            @media (min-width: 768px) {
              font-size: 23px;
            }
            @media (min-width: 991px) {
              font-size: 24px;
            }
          }
          .our-story__small-divider {
            svg {
              width: 15%;
            }
            path {
              fill: none;
              stroke: #1c4c97;
              stroke-width: 4px;
            }
          }
          .our-story__event-description {
            font-size: 17px;
            color: var(--text-color);
            line-height: 1.4;
          }
        }
      }
      .our-story__button {
        display: flex;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #474747;
        border: none;
        cursor: pointer;
        position: relative;
        padding: 0 6px;

        .arrow-svg_1j4 {
          fill: var(--light-color);

          @media (min-width: 1200px) {
            fill: var(--title-color);
          }
        }

        @media (min-width: 1200px) {
          background-color: transparent;
          height: 30px;
          width: 30px;
          padding: 0 0;
        }
      }
    }
  }
}
