.main-title {
    font-family: "Bebas Neue", serif; 
    font-size: 109px;
    font-weight: 400;
}

.title {
    font-size: 12px;
    color: var(--accent-color);
    letter-spacing: 1.2px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

.subtitle {
    font-family: "Bebas Neue", serif; 
    font-size: 64px;
    color: var(--title-color);
    font-weight: 400;
}

.subtitle span {
    color: var(--secondary-bg-color);
}

.text {
    color: var(--text-color);
    font-size: 19px;
    line-height: 1.4;
    font-weight: 600;
}

.text span {
    color: var(--accent-color);
    font-weight: 700;
}

.btn {
    font-size: 15.4px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    padding: 17px 40px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    flex-grow: 0;
    align-self: start;
    display: inline-block;
}

.btn:hover {
    background-color: var(--title-color);
    transition: background 0.3s ease
}

.small-btn {
    font-weight: 700;
    font-size: 14px;
    color: var(--light-color);
    cursor: pointer;
    background-color: var(--accent-color);
    padding: 15px 22px;
    border-radius: 5px;
    flex-grow: 0;
    align-self: start;
    display: inline-block;
}

.small-btn:hover {
    color: var(--main-bg-color);
    background-color: var(--light-color);
    transition: background 0.3s ease
}

/* Products style */

.product__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product__item-name {
    margin-top: 24px;
    font-size: 21px;
    color: var(--title-color);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 16px;
}

.product__item-price {
    font-size: 20px;
    color: var(--accent-color);
    font-weight: 700;
    line-height: 1.4;
    margin-top: auto;
}

.product__item-btn {
    margin-top: 14px;
    background-color: var(--secondary-bg-color);
    display: inline-block;
}


/* Responsive design */

@media (max-width: 1024px) {
    .title {
        font-size: 10px;
    }
    
}

@media (max-width: 992px) {
    .main-title {
        font-size: 84px;
    }
    .subtitle {
        font-size: 54px;
    }
}

@media (max-width: 768px) {
    .main-title {
        font-size: 60px;
    }
    .subtitle {
        font-size: 44px;
    }
    .text {
        font-size: 17px;
    }
    .btn {
        font-size: 12px;
        padding: 12px 25px;
    }
    .small-btn {
        font-size: 12px;
        padding: 10px 20px;
    }
    .product__item-image img {
        max-height: 230px;
        max-width: 100%;
    }
    .product__item-name {
        font-size: 18px;
        margin: 10px 0;
    }
    .product__item-price {
        font-size: 16px;
    }
    .product__item-btn {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .subtitle {
        font-size: 38px;
    }
    .product__item-name {
        font-size: 16px;
    }
    .product__item-price {
        font-size: 14px;
    }
    .product__item-btn {
        margin-top: 8px;
    }
}

@media (max-width: 425px) {
    .title {
        font-size: 8px;
    }
    .subtitle {
        font-size: 32px;
    }
    .text {
        font-size: 14px;
    }
    .product__item-wrapper {
        align-items: center;
    }
    .product__item-name {
        text-align: center;
        font-size: 14px;
    }
    .product__item-price {
        font-size: 12px;
    }
    .product__item-btn {
        margin-top: 6px;
        align-self: center;
    }
}