.main-title {
    font-family: "Bebas Neue", serif; 
    font-size: 109px;
}

.title {
    font-size: 12px;
    color: var(--orange-color);
}

.subtitle {
    font-family: "Bebas Neue", serif; 
    font-size: 64px;
    color: var(--dark-gray-color);
}

.subtitle span {
    color: var(--orange-color);
}

.text {
    color: var(--light-gray-color);
    font-size: 19px;
}

.btn {
    font-size: 15.4px;
    color: white;
    cursor: pointer;
    padding: 20px;
    background-color: var(--blue-color);
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--dark-gray-color);
    transition: color 0.3s ease
}

.small-btn {
    font-size: 14px;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--orange-color);
    padding: 15px 22px;
    border-radius: 5px;
}

.small-btn:hover {
    color: var(--subtitle-color);
    background-color: var(--white-color);
    transition: color 0.3s ease
}
