@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
    box-sizing: border-box;
}

*,
::before, 
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    /* font-family: "Bebas Neue", serif; */
    font-family: "Nunito", serif;
    scroll-behavior: smooth;
    --orange-color: #FF7B16;
    --dark-gray-color: #272727;
    --light-gray-color: #6a6a6a;
    --blue-color: #1C4C97;
    --white-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}