.discount-banner__title span{
    color: var(--accent-color);
}
.discount-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
}

.discount-text {
    max-width: 50%;
}

.discount-text h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.discount-text h2 span {
    color: var(--accent-color); 
}

.discount-text p {
    font-size: 16px;
    color: var(--text-color); 
    margin-top: 10px;
}

.discount-text p small {
    font-style: italic;
    color: var(--text-color);
}

.discount-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--light-color);
    background: var(--secondary-bg-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.discount-btn:hover {
    background: var(--main-bg-color);
}

.discount-image {
    max-width: 45%;
}

.discount-image img {
    width: 100%;
    border-radius: 10px;
}
.discount-banner__note {
    font-size: 14px;
}