.categories {
    padding-top: 60px;
    padding-bottom: 40px;
}

.categories__wrapper {
    display: flex;
    gap: 30px;
}

.filters {
    flex: 1 1 30%
}

.filters__title {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}

.navbar-item {
    border-bottom: 1px solid var(--border-color);
}

.navbar-item .accordion-description {
    display: none;
}

.navbar-item.open {
    padding-bottom: 10px;
}
.navbar-item.open .accordion-description {
    display: flex;
    flex-direction: column;
    text-align-last: left;
    font-size: 17px;
    gap: 10px;
    color: var(--title-color);
    padding: 5px 0;
}


.navbar-item.open .navbar-item__btn img{
    transform: rotate(180deg);
}

.navbar-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.4;
    gap: 10px;
}

.navbar-item__btn {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item__category-options li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}

.navbar-item-options label{
    display: flex;
    gap: 10px;
}


.selected {
    color: var(--accent-color);
}

input[type="checkbox"] {
    accent-color: var(--accent-color);
    width: 16px;
    height: 16px;
}

.categories__items-container {
    flex: 1 1 70%;
}

.categories__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.categories__items.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    height: 100%;
}

.addition-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.categories__items-btn {
    display: flex;
    justify-content: center;
}

.categories__items-btn button {
    display: none;
    font-weight: 700;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    padding: 12px 21px;
    line-height: 1.2;
    cursor: pointer;
    border: 2px solid var(--title-color);
    color: var(--title-color);
    margin-top: 40px;
}

.categories__items-container.load-btn .categories__items-btn button {
    display: block;
}

.categories__items-btn button:hover {
    background-color: var(--title-color);
    color: var(--light-color);
    transition: all 1.5s ease;
    border: 2px solid var(--title-color);
}


@media (max-width: 1024px) {
    .filters {
        flex: 1 1 20%
    }
    .categories__items-container {
        flex: 1 1 80%;
    }
    .checkbox-label {
        font-size: 15px;
    }
    .product__item-name {
        font-size: 17px;
    }
}

@media (max-width: 800px) {
    .categories__items {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .addition-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.filters__btn {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.filters__btn img {
    width: 40px;
    height: 40px;
}

@media (max-width: 650px) {
    .categories__wrapper {
        flex-direction: column;   
    }
    .categories {
        position: relative;
    }
    .filters__navbar {
        display: none;
    }
    .filters__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
    .filters.filters.full-screen {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: var(--light-color);
        scroll-behavior: no-scroll;
        padding: 30px;
    }
    .filters.full-screen .filters__navbar {
        display: block;
    }
    .filters__btn {
        display: block;
    }
    .categories__items-container {
        flex: 1 1 100%;
    }
}

@media (max-width: 550px) {
    .categories__items {
        grid-template-columns: 1fr 1fr;
    }
    .addition-items {
        grid-template-columns: 1fr 1fr;
    }
    .navbar-item__header {
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    .categories__items {
        grid-template-columns: 1fr;
    }
    .addition-items {
        grid-template-columns: 1fr;
    }
    .navbar-item__header {
        font-size: 17px;
    }
}
