.recommended-display {
  display: flex;
  align-items: center;
  background-color: #fef8f3;
  font-family: "Nunito", sans-serif;
  gap: min(15vw, 300px); 
}

.recommended-display__image {
  width: 729px;
  height: 672px;
  object-fit: cover;
  flex-shrink: 0;
}

.recommended-display__content {
  position: relative;
  width: 50%;
  white-space: nowrap;
}

.recommended-display__label {
  font-size: 12px;
  color: var(--orange-color);
  font-family: "Nunito", sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
}

.recommended-display__title {
  font-size: 52px;
  margin-bottom: 20px;
  color: #272727;
}

.recommended-display__price {
  font-size: 33px;
  color: var(--orange-color);
}

.recommended-display__divider {
  max-width: 70%; 
  border: none;
  height: 1px;
  background-color: #00000012;
}

.recommended-display__description {
  font-size: 17px;
  color: var(--light-gray-color);
  margin-bottom: 20px;
}

.recommended-display__specs-title {
  font-size: 24px;
  color: var(--blue-color);
  margin-bottom: 20px;
}

.recommended-display__list {
  font-size: 17px;
  color: var(--light-gray-color);
  margin-bottom: 40px;
}

.recommended-display__shop-btn {
  background: var(--orange-color);
  font-size: 15px;
  font-weight: 550;
  color: var(--white-color);
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.recommended-display__shop-btn:hover {
  background: var(--dark-gray-color);
  color: var(--white-color);
}

@media (max-width: 600px) {
  .recommended-display {
    flex-direction: column; 
    justify-content: space-around;
    gap: 20px;
  }

  .recommended-display__image {
    width: 600px; 
    height: 360px; 
  }

  .recommended-display__content {
    width: 100%; 
    margin-left: 60px;
  }

  .recommended-display__label {
    font-size: 12px; /
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .recommended-display__title {
    font-size: 24px; 
    margin-bottom: 20px;
  }

  .recommended-display__divider {
    max-width: 100%; 
  }

  .recommended-display__price {
    font-size: 20px; 
  }

  .recommended-display__description {
    font-size: 15px; 
  }

  .recommended-display__specs-title {
    font-size: 20px; 
    margin-bottom: 20px;
  }

  .recommended-display__list {
    font-size: 15px; 
  }

  .recommended-display__shop-btn {
    padding: 10px 15px; 
    font-size: 14px; 
    margin-bottom: 20px;
  }
}
