.sales {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/index/sales-bunner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.sales__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 90px;
  color: var(--white-color);
  white-space: nowrap;
}

.sales__description {
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 70px;
}

.sales__shop-btn {
  background: var(--orange-color);
  font-size: 15px;
  font-weight: 550;
  color: var(--white-color);
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.sales__shop-btn:hover {
  background: var(--dark-gray-color);
  color: var(--white-color);
}

@media screen and (max-width: 700px) {
  .sales {
    padding-top: 100px; 
    padding-bottom: 100px; 
  }

  .sales__title {
    font-size: 50px; 
  }

  .sales__description {
    font-size: 16px; 
    margin-top: 20px;
    margin-bottom: 40px; 
  }

  .sales__shop-btn {
    font-size: 14px; 
    padding: 10px 15px; 
    border-radius: 6px; 
  }
}