.recommended-display {
  background-color: var(--light-bg-color);
}

.recommended-display__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recommended-display__image {
  background-image: url("../img/index/recommended-display.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.recommended-display__content {
  display: flex;
  flex-direction: column;
  padding: 120px 30px;
}

.recommended-display__label {
  margin-bottom: 35px;
}

.recommended-display__divider {
  margin: 20px 0;
}

.recommended-display__price {
  font-size: 36px;
  color: var(--accent-color);
  margin-bottom: 35px;
  font-weight: 700;
}

.recommended-display__specs-title {
  color: var(--secondary-bg-color);
  font-size: 24px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.recommended-display__list li {
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 5px;
}

.recommended-display__list strong {
  color: var(--title-color);
}

.recommended-display__shop-btn {
  margin-top: 35px;

}

.recommended-display__shop-btn:hover {
  background-color: var(--title-color);
  color: var(--light-bg-color);
  transition: background 0.2s ease;
}

@media (max-width: 768px) {
  .recommended-display__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
  }
  .recommended-display__content {
    padding: 60px 15px;
  }
  .recommended-display__label {
    margin-bottom: 25px;
  }
  .recommended-display__divider {
    margin: 15px 0;
  }
  .recommended-display__price {
    margin-bottom: 25px;
  }
  .recommended-display__specs-title {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .recommended-display__shop-btn {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .recommended-display__content {
    padding: 40px 10px;
  }
  .recommended-display__label {
    margin-bottom: 15px;
  }
  .recommended-display__price {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .recommended-display__description {
    font-size: 16px;
  }
  .recommended-display__specs-title {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  
  .recommended-display__shop-btn {
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .recommended-display__content {
    padding: 40px 0;
  }
  .recommended-display__list li{
    font-size: 14px;
  }
}