.discount-banner__title {
    margin-bottom: 16px;
}

.discount-banner__title span {
    color: var(--accent-color);
}

.discount-banner {
    padding-top: 40px;
    padding-bottom: 60px;
}

.discount-banner__discription {
    margin-bottom: 20px;
}

.discount-banner__note {
    margin-bottom: 45px;
    font-size: 14px;
    color: var(--text-color);
}

.discount-banner__content {
    text-align: left;
    max-width: 100%;
    background: url(../img/index/discount-club-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:10px ;
    padding: 60px 55px;
}
.discount-banner__button{
background-color: var(--secondary-bg-color);
}
.advantages_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
}

.advantages_title {
    font-size: 20px;
    font-family: "Nunito" sans-serif;
    
}


.advantages {
    margin-top: 80px;
}

.advantages_icon img{
    max-width: 70px;
    margin-bottom: 30px;
}

.advantages_item {
    display: flex;
    flex-direction: column;
}

.advantages_description{
    font-size: 17px;
    margin-top: 10px;
    color: var(--text-color);
}
.feature-underline {
    width: 40px;
    height: 3px;
    background: #002366;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;

}


@media (max-width: 992px) {
    .advantages_list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .advantages_item {
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .discount-banner__content {
        padding: 40px 30px;
    }
}

@media (max-width: 475px) {
    .advantages_list {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}