.store-products__title {
  font-size: 33px;
  margin-bottom: 30px;
}

.store-products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}

.store-products__item {
  position: relative;
  max-width: 1200px;
  text-align: left;
}

.store-products__badges {
  all: unset;
}

.store-products__image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.store-products__name {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.store-products__prices {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  gap: 10px;
}

.store-products__price {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  color: var(--accent-color);
}

.store-products__old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: var(--title-color);
  font-weight: 600;
  white-space: nowrap;
}

.store-products__new-price {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  color: var(--accent-color);
}

.store-products__badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--subtitle-color);
  color: var(--light-bg-color);
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.store-products__button {
  margin-top: 15px;
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 14px;
  background: var(--accent-color);
  color: var(--light-color);
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.store-products__button:hover {
  background: var(--main-bg-color);
  color: var(--light-bg-color);
}

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 30px;

}

.page-btn {
  width: 32px;
  height: 32px;
  font-size: 15px;
  font-weight: bold;
  color: var(--light-gray-color);
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.page-btn.active {
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 6px;
}

.page-btn:hover {
  color: var(--title-color);
}
.page-btn.active:hover {
  color: var(--light-color);
  background:var(--title-color);

}

.store-products__status {
  display: block;
  text-align: center;
  padding: 5px 0;
  margin-top: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.store-products__out-of-stock {
  background: rgba(255, 0, 0, 0.1);
  color: red;
}

.store-products__pre-order {
  background: rgba(0, 128, 0, 0.1);
  color: green;
}
