.store-homepage {
  max-width: 1200px;
  margin: 0 auto;
}

.store-homepage__title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 33px;
}

.store-homepage__categories {
  margin-top: 30px;
  margin-bottom: 100px;
}

.store-homepage__categories-title {
  margin-bottom: 30px;
  max-width: 536px;
  font-size: 33px;
}

.store-homepage__categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.store-homepage__category {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(25% - 20px);
}

.store-homepage__category:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.store-homepage__category-image {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.store-homepage__category-name {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}



/* Список продуктів */
.store-homepage__products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.store-homepage__products-title {
  font-size: 33px;
  margin-bottom: 30px;
}

.store-homepage__products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.store-homepage__product {
  max-width: 1200px;
  text-align: left;

}

.store-homepage__product-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.store-homepage__product-name {
  font-size: 20px;
  margin-top: 10px;
}

.store-homepage__product-prices {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Відступ між цінами */
}

.store-homepage__product-old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: black;
  white-space: nowrap;
  /* Запобігає переносу тексту */
}

.store-homepage__product-price {
  font-size: 18px;
  color: var(--orange-color);
  font-weight: bold;
  white-space: nowrap;
  /* Запобігає переносу тексту */

}


.store-homepage__product-buy-btn {
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  background: var(--orange-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.store-homepage__product-buy-btn:hover {
  background: var(--dark-gray-color);
  color: var(--white-color);
}