.store {
  max-width: 1200px;
  margin: 0 auto;
}

.store__title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 33px;
}

.store__categories {
  margin-top: 30px;
  margin-bottom: 100px;
}

.store__categories-title {
  margin-bottom: 30px;
  max-width: 536px;
  font-size: 33px;
}

.store__categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.store__categories-item {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(25% - 20px);
}

.store__categories-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.store__categories-image {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.store__categories-name {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

/* Список продуктів */
.store__products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.store__products-title {
  font-size: 33px;
  margin-bottom: 30px;
}

.store__products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}

.store__products-item {
  position: relative;
  max-width: 1200px;
  text-align: left;
}

.store__products-image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.store__products-name {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.store__products-prices {
  display: flex;
  align-items: center;
  gap: 10px;
}

.store__products-old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: black;
  white-space: nowrap;
}

.store__products-price {
  font-size: 18px;
  color: var(--orange-color);
  font-weight: bold;
  white-space: nowrap;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #333;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.store__products-button {
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  background: var( --accent-color);
  color: var( --light-color);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.store__products-button:hover {
  background: var( --main-bg-color);
  color: var(--white-color);
}
