
.store__title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 33px;
}

.store__categories {
  margin-top: 30px;
  margin-bottom: 100px;
}

.store__categories-title {
  margin-bottom: 30px;
  max-width: 536px;
  font-size: 33px;
}

.store__categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.store__categories-item {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(25% - 20px);
}

.store__categories-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.store__categories-image {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.store__categories-name {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .store__categories-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 10px;
    padding-bottom: 10px;
    scrollbar-gutter: auto;
  }

  .store__categories-item {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (max-width: 425px) {
  .store__categories-item {
    width: 65%;
  }
}

@media (max-width: 375px) {
  .store__categories-item {
    width: 75%;
  }
}

@media (max-width: 320px) {
  .store__categories-item {
    width: 85%;
  }
}
