
.keyboards__link {
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 17px;
}

.keyboards__title {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 25px;
}

.keyboards__description {
  margin-bottom: 50px;
  font-size: 17px;
}

.keyboards__subtitle {
  margin-bottom: 30px;
  font-size: 36px;
}