.headphones-products__title {
    font-size: 33px;
    margin-bottom: 30px;
}

.headphones-products__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.headphones-products__item {
    position: relative;
    max-width: 1200px;
    text-align: left;
}

.headphones-products__badges {
    all: unset; 
}
  
.headphones-products__image {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.headphones-products__name {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.headphones-products__prices {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headphones-products__old-price {
    font-size: 16px;
    text-decoration: line-through;
    color: var(--title-color);
    font-weight: 600;
    white-space: nowrap;
}

.headphones-products__price {
    font-size: 18px;
    color: var(--accent-color);
    font-weight: bold;
    white-space: nowrap;
}

.headphones-products__new-price {
    font-size: 18px;
    color: var(--accent-color);
    font-weight: bold;
    white-space: nowrap;
}


.headphones-products__badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--subtitle-color);
    color: var(--light-bg-color);
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
}

.headphones-products__button {
    margin-top: 15px;
    padding: 8px 14px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    background: var(--accent-color);
    color: var(--light-color);
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.headphones-products__button:hover {
    background: var(--main-bg-color);
    color: var(--light-bg-color);
}
