<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link
      rel="shortcut icon"
      href="./img/global/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/about_us.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about_us.header-hero.partial.html"
      ></section>
    </header>
    <div class="body__wrapper">
      <main class="main">
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="about_us.hero.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="about_us.our-mission.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="about_us.our-story.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="about_us.expert-reviews.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="about_us.offline-store.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="about_us.in-store_services.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="about_us.vacancies.partial.html"
        ></section>
      </main>
      <footer
        class="footer"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></footer>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>
